{
  "env": {
    "es6": true,
    "jest": true,
    "browser": true
  },
  "root": true,
  "extends": ["airbnb", "prettier"],
  "rules": {
    "react/sort-comp": 0,
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js"]
      }
    ]
  }
}
