params:
  localisebiz: https://localise.biz/api
  key:
  languages: ["en", "fr"]
  pathToTranslations:
  commandAfterSync: # command to execute if files changed after synchronization (ex : "make --directory=/home/my-project yarn-install")
  filter:
  format:
  index:
  source:
  namespace:
  fallback:
  order:
  status:
  printf:
  charset:
  breaks:
  noComments:
  noFolding:
  async:
  path:
  ignoreNew:
  ignoreExisting:
  tagNew:
  tagAll:
  unTagAll:
  tagUpdated:
  tagAbsent:
  unTagAbsent:
